

@font-face{
  font-family: 'lakeshore';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/LAKESHOR-webfont.eot');
  src: url('fonts/LAKESHOR-webfonts.eot?#iefix') format('embedded-opentype'),
  url('fonts/LAKESHOR-webfont.woff') format('woff'),
  url('fonts/LAKESHOR-webfont.ttf') format('truetype'),
  url('fonts/LAKESHOR-webfont.svg#lakeshor') format('svg');
}

@font-face{
  font-family: 'airstreamregular';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/Airstream-webfont.eot');
  src: url('fonts/Airstream-webfonts.eot?#iefix') format('embedded-opentype'),
  url('fonts/Airstream-webfont.woff') format('woff'),
  url('fonts/Airstream-webfont.ttf') format('truetype'),
  url('fonts/Airstream-webfont.svg#lakeshor') format('svg');
}



body{
  background: grey;
  display: flex;
  flex-direction: column;
  font-size:10px;
}

html,body{
  height:100%;
}

a{
  text-decoration: none;

}

.main-header{
  flex: 0 1 auto;
}

.main-content{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.detail-image-frame{
  text-align: center;
  position: relative;
}



.logo-text{
  background: rgb(177,201,255);
  font-family: lakeshore;
  font-size: 37px;
  text-align: center;
  text-transform:uppercase;
}

.thumbnail-item{
  border: 1px solid rgb(100%,100%,100%, 0.8);
  border: 1px solid rgba(100%,100%,100%, 0.8);
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
}

.thumbnail-image{
  display: block;
  width: 100%;
}

.thumbnail-title {
  background: rgb(96,125,139);
  color: rgb(202,238,255);
  display: block;
  font-size: 18px;
  margin:0;
  padding:4px 10px;
}


.detail-image{
  width:90%;
}

.thumbnail-list{
  flex: 0 1 auto;
  list-style:none;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  order: 2;
  display:flex;
  justify-content: space-between;
}

.detail-image-container{
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-image-title{
  color: white;
  font-size: 40px;
  text-shadow: rgba(0,0,0,0.9) 1px 2px 9px;
  font-family: airstreamregular;
  position: absolute;
  bottom: -16px;
  left: 4px;
}
